h3{
    text-align: center;
}

input{
    width: 250px;
    height: 25px;
    margin-bottom: 10px;
}

p{
    margin: 0px 0px 5px 0px;
}

.wrapper{
    max-width: 1140px;
    margin: 10% auto 0 auto;
}

.wrapper-search{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper-input{
    float:left;
}

.btn{
    width: 255px;
    height: 25px;;
}